.col {
    width: 90%;
    margin: 0 auto;
}

.card {
    min-height: 150px;
    min-width: 200px;
    max-width: 500px;
    margin: 50px auto;
    border: solid 1px rgba(46, 46, 46, 0.596);
    filter: drop-shadow(10px 5px 5px #5c5c5ca2);
    border-radius: 10px;
    justify-content: center;
}

.card:hover {
    cursor: pointer;
    border : 2px solid rgb(21, 95, 255);
}

.card:active {
    transform: translate(5px, 2px);
}

.form {
    border: solid 1px rgba(22, 22, 22, 0.897);
    width: 40%;
    margin: 0 30%;
    padding: 40px 10px;
    position: absolute;
    top: 5%;
    left: 0;
    background-color: white;
}

button {
    outline: none;
}

.form .exit-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    border: 1px solid red;
    color: white;
    background-color: red;
    border-radius: 5px;
}

.form .exit-btn:hover {
    border: solid 2px red;
    color: red;
    background-color: white;
}

.form .exit-btn:focus {
    border-color: red;
}

.grey-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.473);
}

.action-btns {
    /* border: solid 1px black; */
    text-align: end;
}

.action-btns span {
    margin: 0 10px;
}

.action-btns button, button[type=submit] {
    border: solid 2px rgb(43, 108, 250);
    background-color: rgb(43, 108, 250);
    outline: none;
    color: white;
    border-radius: 7px;
    min-width: 100px;
}

.action-btns button:hover, button[type=submit]:hover {
    color: rgb(21, 95, 255);
    border-color: rgb(21, 95, 255);
    background-color: white;
}

.edit-btn {
    border-radius: 5px;
    color: rgb(21, 95, 255);
    border: 1px solid rgb(43, 108, 250);
    background-color: white;
}

.delete-btn {
    color: red;
    border: 1px solid red;
    background-color: white;
    border-radius: 5px;
}

.table {
    margin-top: 50px;
    text-align: start;
}

.form form input[type=text]{
    border: solid 1px black;
    width: 50%;
    min-width: 150px;
    max-width: 80%;
    margin-bottom: 20px;
}

.form h3 {
    width: 70%;
    margin: 20px auto;
    padding-bottom: 30px;
    border-bottom: solid rgba(46, 46, 46, 0.671) 1px;
}

form label {
    width: 50%;
    text-align: start;
}

thead {
    border-bottom: solid 3px black;
}